<a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper  " style="background-color:#333366 !important ;color: #0000 !important;">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">pro sidebar</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header text-center">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png"
            alt="User picture">
        </div>
        <div class="user-info text-center">
          <span class="user-name">Admin
            <strong>pannel</strong>
          </span>
          <span class="user-role">Administrator</span>
          <span class="user-status">
            {{!-- <i class="fa fa-circle"></i> --}}
            {{!-- <span>Online</span> --}}
          </span>
        </div>
      </div>
   
      <!-- sidebar-search  -->
      <div class="sidebar-menu" style="color:aqua !important;">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
        
          <li>
               <a href="/admin">
              <i class="fa fa-tachometer-alt"></i>
              <span>Dashboard</span>
              {{!-- <span class="badge badge-pill badge-warning">New</span> --}}
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-shopping-cart"></i>
              <span>Users Management</span>
           
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="/admin/view-users">View Users

                  </a>
                </li>
                <li>
                  <a href="/admin/blocked-users">Blocked Users</a>
                </li>
                {{!-- <li>
                  <a href="#">Credit cart</a>
                </li> --}}
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="far fa-gem"></i>
              <span>Product Management</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="/admin/view-products">View Product</a>
                </li>
                <li>
                  <a href="/admin/add-product">Add Product</a>
                </li>
               
              </ul>
            </div>
          </li>
          <li>
               <a href="/admin/view-category">
              <i class="fa fa-tachometer-alt"></i>
              <span>Category Management</span>
              {{!-- <span class="badge badge-pill badge-warning">New</span> --}}
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-globe"></i>
              <span>Offer Management</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="/admin/product-offer">Product Offer</a>
                </li>
                <li>
                  <a href="/admin/category-offer">Category Offer</a>
                </li>
                 <li>
                  <a href="/admin/coupon-offer">Coupon Offer</a>
                </li>
              </ul>
            </div>
          </li>
           <li>
               <a href="/admin/banner-management">
              <i class="fa fa-tachometer-alt"></i>
              <span>Banner Management</span>
              {{!-- <span class="badge badge-pill badge-warning">New</span> --}}
            </a>
          </li>
           <li>
               <a href="/admin/orders">
              <i class="fa fa-tachometer-alt"></i>
              <span>Order Management</span>
              {{!-- <span class="badge badge-pill badge-warning">New</span> --}}
            </a>
          </li>
           <li>
               <a href="/admin/view-brand">
              <i class="fa fa-tachometer-alt"></i>
              <span>Brand Management</span>
              {{!-- <span class="badge badge-pill badge-warning">New</span> --}}
            </a>
          </li>
           <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-globe"></i>
              <span>Report</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="/admin/product-report">Product Report</a>
                </li>
                <li>
                  <a href="#">Order Report</a>
                </li>
              </ul>
            </div>
          </li>
           {{!-- <li>
               <a href="#">
              <i class="fa fa-tachometer-alt"></i>
              <span>Orders</span>
              <span class="badge badge-pill badge-warning">New</span>
            </a>
          </li> --}}
          
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      {{!-- <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a> --}}
      <a href="/admin/logout">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </nav>
  <!-- sidebar-wrapper  -->

  <!-- page-content" -->

