

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png"
                    class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form action="/forgotOTP" method="post" id="login">
                   

                    
                    <div class="form-outline mb-4">
                        <input type="number" id="" class="form-control form-control-lg"
                            placeholder="Enter your Mobile" name="mobile" />
                       
                    </div>

                     <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Send OTP</button>
                       
                        
                         </div>

                </form>
            </div>
        </div>
    </div>
   
</section>