<link rel='stylesheet' href='/stylesheets/otp.css' />

<form action="/otp" method="post">
    <div class="container height-100 d-flex justify-content-center align-items-center">
        <div class="position-relative">
            <div class="card p-2 text-center" style="border:#03A9F4 ;">
                <h6 class="mb-5" style="color:#03A9F4 ;">Please enter the one time password <br> to verify your account</h6>
               
                     <input type="text" name="otp" class="m-2 text-center form-control rounded " style="width: 50%;"  placeholder="Enter your otp"    onkeypress="return isNumber(event)" maxlength="6"  minlength="6">
                       
               
                <input type="text"  >
                <div class="text-center ">
                    <span class="d-block mobile-text mt-3" id="countdown1"></span>
                </div>
                <div class="text-center ">
                    <a href="/resend-otp">
                        <span class="d-block mobile-text" id="resend1"></span>
                    </a>

                </div>
                {{#if invalidOtp}}
                <p class="alert alert-danger" style="color: rgb(255, 0, 0);">invalid OTP</p>
                {{/if}}
                <div class=""> <button class="btn  px-4 validate" style="background-color:#03A9F4 ; color: white; border: none;" >Validate</button> </div>
            </div>
          
        </div>
    </div>
</form>

<script src="/javascripts/otp.js"></script>

<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>
<script>

    let timerOn = true;
    function timer(remaining) {
        var m = Math.floor(remaining / 60);
        var s = remaining % 60;
        m = m < 10 ? "0" + m : m;
        s = s < 10 ? "0" + s : s;
        document.getElementById("countdown1").innerHTML = `Time left: ${m} : ${s}`;
        remaining -= 1;
        if (remaining >= 0 && timerOn) {
            setTimeout(function () {
                timer(remaining);
            }, 1000);
            document.getElementById("resend1").innerHTML = `
`;
            return;
        }
        if (!timerOn) {
            return;
        }
        document.getElementById("resend1").innerHTML = `Don't receive the code? 
<span class="font-weight-bold text-color cursor" onclick="timer(59)">Resend
</span>`;
    }
    timer(59);


    document.addEventListener("DOMContentLoaded", function (event) {

        function OTPInput() {
            const inputs = document.querySelectorAll('#otp > *[id]');
            for (let i = 0; i < inputs.length; i++) { inputs[i].addEventListener('keydown', function (event) { if (event.key === "Backspace") { inputs[i].value = ''; if (i !== 0) inputs[i - 1].focus(); } else { if (i === inputs.length - 1 && inputs[i].value !== '') { return true; } else if (event.keyCode > 47 && event.keyCode < 58) { inputs[i].value = event.key; if (i !== inputs.length - 1) inputs[i + 1].focus(); event.preventDefault(); } else if (event.keyCode > 64 && event.keyCode < 91) { inputs[i].value = String.fromCharCode(event.keyCode); if (i !== inputs.length - 1) inputs[i + 1].focus(); event.preventDefault(); } } }); }
        } OTPInput();
    });

</script>